#greencolor{
  float:right;
  background-color: green;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#marooncolor{
  float:right;
  background-color: maroon;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#redcolor{
  float:right;
  background-color: red;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#orangecolor{
  float:right;
  background-color: orange;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#yellowcolor{
  float:right;
  background-color: yellow;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#olivecolor{
  float:right;
  background-color: olive;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#purplecolor{
  float:right;
  background-color: purple;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#fuchsiacolor{
  float:right;
  background-color: fuchsia;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#whitecolor{
  float:right;
  background-color: white;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#limecolor{
  float:right;
  background-color: lime;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#navycolor{
  float:right;
  background-color: navy;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#bluecolor{
  float:right;
  background-color: blue;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#aquacolor{
  float:right;
  background-color: aqua;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#tealcolor{
  float:right;
  background-color: teal;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#blackcolor{
  float:right;
  background-color: black;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#silvercolor{
  float:right;
  background-color: silver;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#graycolor{
  float:right;
  background-color: gray;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#pinkcolor{
  float:right;
  background-color: pink;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#peachpuffcolor{
  float:right;
  background-color: peachpuff;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#lightgoldenrodyellowcolor{
  float:right;
  background-color: lightgoldenrodyellow;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#palegreencolor{
  float:right;
  background-color: palegreen;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#thistlecolor{
  float:right;
  background-color: thistle;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#lightsteelbluecolor{
  float:right;
  background-color: lightsteelblue;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}

#paleturquoisecolor{
  float:right;
  background-color: paleturquoise;
  width: 20px;
  height: 10px;
  border:solid 1px black;
  margin:7px;
}


