.title {
  margin: 20px auto;
  padding: 5px;
}

.dropzone {
  background-color: #ccc;
  height: 600px;
  border: solid 2px grey;
}

.pictograma{
  padding:15px;
  text-align: center;
  /*max-height: 160px;*/
  z-index: 1;
  position: relative;
  border:solid 2px transparent;
}

.pictograma > img{
  width: 100%;
}

.resize-drag > img{
  width: 100%;
}
.row{
  margin-bottom: 20px;
}

/*.dropdown{
  padding-left: 0px;
}
*/
.custom-checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

#tituloPlantilla{
  margin: 0 15px;
}

#addrectangle{
  margin: 0 20px;
  background-color: paleturquoise;
  border:solid 1px black;
  min-height: 100px;
}

body {
  -ms-touch-action: none;
  touch-action: none;
}

#title{
  text-align: center;
}


.pictogramaHover{
 /* background-color: red;*/
  width: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  /*padding-bottom: 100%;*/
  
  /*https://codepen.io/bboygaz/pen/FgriI*/
}
