.title {
  margin: 20px auto;
  padding: 5px;
}

.dropzone {
  background-color: #ccc;
  height: 600px;
  border: solid 2px grey;
}

.draggable{
  padding:0 20px;
  text-align: center;
  max-height: 160px;
}

.draggable > img{
  width: 100%;
}

.resize-drag > img{
  width: 100%;
}
.row{
  margin-bottom: 20px;
}
